.NavBar {
  display: flex;
  justify-content: space-between;  
  align-content: center;
  padding: 20px;
  background-color: steelblue;

  .NavLeft {
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-grow: 3;
  }

  .NavRight {
    display: inline-flex;
    align-content: center;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 5%;
    font-size: 15px;
    font-weight: 600;
  }

  NavBarItem {
    align-content: center;
  }
}
